@import url(http://fonts.googleapis.com/css?family=Dosis:400,600|Open+Sans:400,300);
/* Start Don't Overthink it Grids  */

.grid:after {
  clear: both;
  display: table;
  content: ""; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.module {
  margin: 5px; }

[class*='col'] {
  display: inline-block;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }

.col1-1 {
  width: 100%; }

.col1-2 {
  width: 50%; }

.col1-3 {
  width: 33.333%; }

.col2-3 {
  width: 66.666%; }

.col1-4 {
  width: 25%; }

.col1-5 {
  width: 20%; }

.col1-6 {
  width: 16.66667%; }

/* End Don't Overthink it Grids  */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "helvetica neue", helvetica, verdana, sans-serif;
  letter-spacing: 0.1rem;
  background: #3E4240;
  color: #323232; }

h1 {
  font-family: Dosis, "helvetica neue", helvetica, verdana, sans-serif;
  font-weight: 600;
  margin: 5px;
  padding: 0;
  font-weight: 100;
  font-size: 30px; }

h2 {
  font-family: Dosis, "helvetica neue", helvetica, verdana, sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 24px; }

h3 {
  margin: 0;
  padding: 0;
  font-weight: 100; }

a {
  color: #191919; }
  a:hover {
    color: #191919; }

header {
  background: white;
  color: #323232; }

.loginSignup.module {
  text-align: right; }

.page {
  width: 80%;
  background: white;
  margin: 50px auto;
  padding: 10px 15px 15px 15px; }

.row {
  margin-bottom: 10px; }

.page .logo.module {
  height: 90px;
  width: 100%;
  background: rgba(122, 122, 122, 0.1);
  border: 1px solid rgba(122, 122, 122, 0.2);
  text-align: center; }

.RSVP.module {
  text-align: center; }
  .RSVP.module .btn {
    font-family: "Open Sans", "helvetica neue", helvetica, verdana, sans-serif;
    font-weight: 600;
    position: relative;
    letter-spacing: 9px;
    margin: 10px auto 5px auto;
    font-size: 29px;
    width: 100%;
    padding: 5px 22px;
    color: white;
    background: #FFCA64;
    border-left: 1px solid #ffb731;
    border-right: 1px solid #ffb731;
    border-top: 1px solid #ffb731;
    border-bottom: 5px solid #ffb731; }
    .RSVP.module .btn:hover {
      background: #ffdb97;
      border-left: 1px solid #ffc964;
      border-right: 1px solid #ffc964;
      border-top: 1px solid #ffc964;
      border-bottom: 5px solid #ffc964; }
    .RSVP.module .btn:active {
      top: 4px;
      background: #ffae18;
      border-left: 1px solid #fda400;
      border-right: 1px solid #fda400;
      border-top: 1px solid #fda400;
      border-bottom: 1px solid #fda400; }

.btn {
  background: #ececec;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  border-bottom: 5px solid #d3d3d3;
  color: #7a7a7a;
  margin: 4px;
  position: relative;
  text-decoration: none;
  display: block;
  padding: 6px 15px;
  width: intrinsic;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .btn:hover {
    background: white;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-top: 1px solid #ececec;
    border-bottom: 5px solid #ececec; }
  .btn:active {
    top: 4px;
    background: #c6c6c6;
    border-left: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9; }

.links {
  padding: 0; }
  .links li {
    list-style-type: none; }
  .links .btn {
    width: 300px;
    margin: 4px auto; }

.social {
  margin: 0 auto 35px auto;
  padding: 0;
  width: intrinsic; }
  .social li {
    list-style-type: none;
    margin: 0 4px;
    display: inline-block; }
    .social li a {
      background: #FFCA64;
      color: white;
      text-decoration: none;
      width: 65px;
      height: 65px;
      font-size: 32px;
      text-transform: uppercase;
      -webkit-border-radius: 65px;
      -moz-border-radius: 65px;
      -ms-border-radius: 65px;
      -o-border-radius: 65px;
      border-radius: 65px;
      padding: 10px 0 0 22px;
      display: block; }
